<%layout("layouts/boilerplate")%> 
<div class="row">
    <h1 class="text-center">Edit Product INFO</h1>
    <div class="col-6 offset-3">
        <form action="/products/<%=product._id%>?_method=PUT" method="POST" data-toggle="validator">
            <div class="form-group">
                <label for="title" >Title</label>
                <input type="text" id="title" name="product[title]" class="form-control" value="<%=product.title%>" required>
            </div>

            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" id="price" name="product[price]" class="form-control" value="<%=product.price%>" required>
            </div>
            
            <div class="form-group">
                <label for="image">ImagePath</label>
                <input type="text" id="image" name="product[imagePath]" class="form-control" value="<%=product.imagePath%>" required>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" id="description" name="product[description]" class="form-control" value="<%=product.description%>" required>
            </div>
            <button type="submit" class="btn btn-primary">Update Product</button>
        </form>
       <br><br>
        <a href="/products/<%=product._id%>" class="btn btn-success">Back to Product</a>
      
    </div>
</div>